// COLORS

$color-pink-1: rgba(235, 84, 130, 1);
$color-pink-2: rgba(176, 63, 98, 1);
$color-blue-1: rgba(34, 34, 60, 1);
$color-blue-2: rgba(62, 62, 84, 1);
$color-blue-3: rgba(89, 89, 109, 1);
$color-blue-4: rgba(117, 117, 133, 1);
$color-blue-5: rgba(145, 145, 158, 1);
$color-blue-6: rgba(172, 172, 182, 1);
$color-blue-7: rgba(200, 200, 206, 1);
$color-blue-8: rgba(227, 227, 231, 1);
$color-white: rgba(255, 255, 255, 1);

$themecolors: (pink-1: $color-pink-1, pink-2: $color-pink-2, blue-1: $color-blue-1, blue-2: $color-blue-2, blue-3: $color-blue-3, blue-4: $color-blue-4, blue-5: $color-blue-5, blue-6: $color-blue-6, blue-7: $color-blue-7, blue-8: $color-blue-8, white: $color-white);

// END COLORS

/*
===========================================
==  Text sizes config  ====================
===========================================
*/

$size-sm: rem(12px);
$size-base: rem(16px);
$size-xl: rem(20px);
$size-2xl: rem(28px);
$size-3xl: rem(38px);
$size-4xl: rem(50px);
$size-5xl: rem(67px);
$size-6xl: rem(90px);

$text-sizing: (sm: $size-sm, base: $size-base, xl: $size-xl, 2xl: $size-2xl, 3xl: $size-3xl, 4xl: $size-4xl, 5xl: $size-5xl, 6xl: $size-6xl);

/*
===========================================
==  Line height sizes config  =============
===========================================
*/

$line-size-sm: 20px;
$line-size-base: 24px;
$line-size-xl: 28px;
$line-size-2xl: 32px;
$line-size-3xl: 40px;
$line-size-4xl: 44px;
$line-size-5xl: 56px;
$line-size-6xl: 64px;
$line-size-7xl: 80px;

$line-height: (sm: $line-size-sm, base: $line-size-base, xl: $line-size-xl, 2xl: $line-size-2xl, 3xl: $line-size-3xl, 4xl: $line-size-4xl, 5xl: $line-size-5xl, 6xl: $line-size-6xl, 7xl: $line-size-7xl);

/*
===========================================
==  Letter Spacing config     =============
===========================================
*/
$letter-spacing: (base: 1px, tightest: -0.05em, tighter: -0.025em, tight: -0.015em, normal: 0em, wide: 0.065em, wider: 0.075em, widest: 1em);

/*
===========================================
==  Hovers config     =============
===========================================
*/
$hovers: (pink-1: $color-pink-1, pink-2: $color-pink-2, blue-1: $color-blue-1, blue-2: $color-blue-2, blue-3: $color-blue-3, blue-4: $color-blue-4, blue-5: $color-blue-5, blue-6: $color-blue-6, blue-7: $color-blue-7, blue-8: $color-blue-8, white: $color-white);

/*
===========================================
==  Colors config     =============
===========================================
*/

$themecolors: (pink-1: $color-pink-1, pink-2: $color-pink-2, blue-1: $color-blue-1, blue-2: $color-blue-2, blue-3: $color-blue-3, blue-4: $color-blue-4, blue-5: $color-blue-5, blue-6: $color-blue-6, blue-7: $color-blue-7, blue-8: $color-blue-8, white: $color-white);

/*
===========================================
==  Backgrounds color config     ==========
===========================================
*/

$backgrounds: (pink-1: $color-pink-1, pink-2: $color-pink-2, blue-1: $color-blue-1, blue-2: $color-blue-2, blue-3: $color-blue-3, blue-4: $color-blue-4, blue-5: $color-blue-5, blue-6: $color-blue-6, blue-7: $color-blue-7, blue-8: $color-blue-8, white: $color-white);

/*
===========================================
==  Responsive Fonts config  ==============
===========================================
*/
$enable-responsive-font-sizes: true;
$font-size-base: 1.25rem;

/*



/*
===========================================
==  Fonts config                 ==========
===========================================
*/

$font-primary: "Raleway", sans-serif;

.font-primary {
    font-family: $font-primary;
}

.dev {
    border: 1px solid red;
}

.font-200 {
    font-weight: 200 !important;
}

.font-400 {
    font-weight: 400 !important;
}

.font-700 {
    font-weight: 700 !important;
}
