{# ----- HOME ----- #}
{% extends "layouts::/page.twig" %}
{% block page %}

{# Menu #}
{% include "@base/menu/menu.twig" %}

<div class="bg-white" data-scroll-container>

	<!--  -->
	<div class="section bg-white ml-8" data-scroll-section>

		<div class="d-flex h-100v">

			<div class="ly-seccion-curso-1 d-flex flex-column justify-content-center align-items-center">

				<div class="text-wrap seccion-curso__text">
					<h2 class="title-5 color-blue-1 mb-5 line-6xl">
						Intervenir en la tecnología que diseña nuestro comportamiento
					</h2>
					<p class="color-blue-1 mb-6 text-2xl">Ideas erróneas sobre nuestra percepción del mundo y cómo la
						tecnología
						nos (des)habilita para tomar decisiones en él</p>
					<div class="d-flex w-100 justify-content-between">
						<div class="d-flex">
							<div class="icon-medium pr-4 pt-2">
								{{ svgSprite('calendar') }}
							</div>
							<div>
								<p class="color-blue-1 font-700 title-3">29-30</p>
								<p class="color-blue-1 font-700 text-xl mb-0">Junio 2021</p>
								<p class="mb-2 text-base color-blue-5">de 15:00 a 1830</p>
							</div>
						</div>
						<div class="flex-grow-1 pl-5">
							<div class="pt-4 icon-mini pr-5">
								<a href=""
									class="decoration-none mb-3 btn-secondary d-flex justify-content-between aaaaa"
									data-scroll="" data-scroll-class="aaaaa">Reservar
									plaza
									<div class="pl-3">
										<svg>
											<use xlink:href="/assets/svg/sprite/sprite.svg#arrow"></use>
										</svg>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="ly-seccion-curso-2 h100v d-flex justify-content-center align-items-center">
				<div>
					<img src="/assets/images/sky.png" alt="Imagen">
				</div>
			</div>

			<div class="ly-seccion-curso-3 h100v d-flex flex-column justify-content-end align-items-center">
				<div class="seccion-curso__textright text-wrap text-xl color-blue-1 mb-8 pb-3">
					<p>En los últimos años la ciencia del comportamiento ha aterrizado en los productos tecnológicos
						para empujar a través de
						“nudges digitales” nuestras acciones y (des)habilitar nuestra capacidad de toma de decisiones.
					</p>
					<p>Compartimos en este curso intensivo nuestras experiencias de intervención, además de una base
						profunda sobre los
						mecanismos psicológicos que sustentan la ciencia del cambio comportamental, los “nudges
						digitales” y cuál está siendo su
						aplicación práctica en tecnología.</p>
				</div>
				<div class=" seccion-curso__textright text-wrap mb-6">
					<p class="text-sm color-blue-6">Este curso intensivo es parte de la etapa Difusión de
						nuestro proceso de trabajo. Su objetivo es compartir nuestros aprendizajes en la línea de
						investigación “Toma de
						decisiones”.</p>
				</div>
			</div>
			<div class="ly-seccion-curso-4 h100v d-flex">
				<div class="d-flex flex-row py-5 h-100 align-items-center">
					<div class="ab ml-3"></div>
				</div>
				<div class="d-flex flex-column align-items-center justify-content-center flex-grow-1">
					<div class="curso-text2__wrap text-wrap pt-5">
						<h2 class="title-4 color-blue-1">¿Es este Crash Course para tí?</h2>
						<p class="color-blue-4 subtitle mb-5">Sí en caso de encajar con uno de estos tres perfiles:</p>
						<div class="color-blue-5">
							<ul class="list-arrow">
								<li class="mb-5">
									Tienes una visión crítica y deseas visualizar con mayor detalle la capacidad de
									alcance
									que
									tiene la tecnología en el
									diseño del comportamiento y la toma de decisiones.
								</li>
								<li class="mb-5">
									Te interesa la parte más tangible: conocer cómo nos comportamos las personas y cómo
									la
									tecnología utiliza la ciencia del
									comportamiento para empujar las decisiones de las personas a través de heurísticos,
									sesgos y
									nudges.
								</li>
								<li class="mb-5">
									O porque sí, o porque te molamos, o por lo que sea. Bienvenido igualmente.
								</li>
							</ul>

						</div>
					</div>
				</div>

			</div>
		</div>

	</div>
	<!--  -->

	<div class="section bg-blue-1 ml-8 ly-curso-programa" data-scroll-section>
		<div>
			<h2>Programa del crash<br> course online</h2>
		</div>
		<div class="d-flex">
			<div class="">
				<div class="d-flex title-decoration">
					<div class="d-flex flex-row align-items-center pt-2">
						<div class="text-base color-blue-4 my-4">
							<span>01</span>
						</div>
						<div class="ab ml-3"></div>
					</div>
					<div class="">
						<h3 class="title-2 color-white pl-4">Entendiendo el comportamiento</h3>
					</div>
				</div>
			</div>
			<div class="">

			</div>
		</div>

	</div>

	<!-- Form section -->
	<div class="section bg-white pl-7" data-scroll-section>
		<div class="d-flex h-100v">

			<div class="ly-investigacion--1">
				<div class="d-flex flex-row py-5 h-100 align-items-center">
					<div class="text-sm color-blue-4 my-4">
						<span>01</span>
					</div>
					<div class="ab ml-3"></div>
				</div>
			</div>

			<div class="ly-investigacion--2">
				<div class="d-flex h-100v form-wrap">

					<!-- Form -->
					{% include "@base/forms/contacto.twig" %}
					<!-- Fin Form -->

				</div>
			</div>
		</div>
	</div>
	<!-- Fin Form section -->
	<!-- Form section -->
	<div class="section bg-white pl-7" data-scroll-section>
		<div class="d-flex h-100v">

			<div class="ly-investigacion--1">
				<div class="d-flex flex-row py-5 h-100 align-items-center">
					<div class="text-sm color-blue-4 my-4">
						<span>01</span>
					</div>
					<div class="ab ml-3"></div>
				</div>
			</div>

			<div class="ly-investigacion--2">
				<div class="d-flex h-100v form-wrap">

					<!-- Form -->
					{% include "@base/forms/contribuir.twig" %}
					<!-- Fin Form -->

				</div>
			</div>
		</div>
	</div>
	<!-- Fin Form section -->






</div>
{% endblock %}