<div class="section lineas-investigacion bg-blue-1" data-scroll-section>
    <div class="d-flex w-100 h-100 flex-column align-items-center justify-content-center">
        <div data-scroll data-scroll-speed="6">
            <h2 class="title-outline line-6xl">
                Líneas de<br> Investigación<br> abiertas
            </h2>
        </div>
    </div>
</div>