<div class="titlewrap d-flex flex-column justify-content-center">
    <div class="titlewrap-rotate">
        <h2 data-scroll data-scroll-direction="horizontal" data-scroll-speed="2" class="title-5 color-white p-5">
            Explicabilidad</h2>
    </div>
</div>