.ly-curso-1 {
    width: 190px;
}

.ly-curso-2 {
    width: 410px;
}

.ly-curso-3 {
    width: 615px;
}

.ly-curso-4 {
    width: 845px;
}

.ly-equipo {
    width: 2310px;
}

.ly-equipo-1 {
    width: 1005px;
    margin-left: 780px;
}

.ly-animacion--1 {
    width: 1400px;
}

.img-zoom {
    margin: 0;
    display: block;
    transition: all ease-in-out 0.5s;
    overflow: hidden;

    img {
        transition: all ease-in-out 0.5s;
    }
}

.img-zoom-active {
    transform: scale(1.1);
}

.seccion-curso__text {
    width: 570px;
}

.seccion-curso__textright {
    width: 575px;
}

.ly-seccion-curso-1 {
    width: 815px;
}

.ly-seccion-curso-2 {
    width: 715px;
    overflow: hidden;
}

.ly-seccion-curso-3 {
    width: 880px;
}

.ly-seccion-curso-4 {
    width: 950px;
}

.ly-curso-programa {
    width: 1900px;
}

.form-wrap {
    width: 575px;
}
