.ly-curso-1 {
    width: 190px;
}

.ly-curso-2 {
    width: 410px;
}

.ly-curso-3 {
    width: 615px;
}

.ly-curso-4 {
    width: 845px;
}

.ly-equipo {
    width: 2310px;
}

.ly-equipo-1 {
    width: 1005px;
    margin-left: 780px;
}

.ly-animacion--1 {
    width: 1400px;
}
