.ly-investigacion--1 {
    width: 130px;
}

.ly-investigacion--2 {
    width: 870px;
}

.ly-investigacion--3 {
    width: 1330px;
    overflow-wrap: break-word;
    white-space: initial !important;
}

.ly-intro {
    width: 1100px;
}

.l1 {
    width: 130px;
    height: 100vh;
    overflow-wrap: break-word;

    // background-color: rebeccapurple;
}

.l2 {
    width: 170px;
    height: 100vh;
    overflow-wrap: break-word;

    // background-color: rgb(113, 100, 126);
}

.l3 {
    width: 1500px;
    height: 100vh;
    overflow-wrap: break-word;
    white-space: initial !important;

    // background-color: rgb(50, 36, 63);
}

.l4 {
    width: 575px;
    height: 100vh;
    overflow-wrap: break-word;
    white-space: initial !important;

    // background-color: rgb(64, 2, 122);
}

.ly-proceso--2 {
    width: 1185px;
}
