.ly-investigacion--1 {
    width: 130px;
}

.ly-investigacion--2 {
    width: 870px;
}

.ly-investigacion--3 {
    width: 1330px;
    overflow-wrap: break-word;
    white-space: initial !important;
}

.ly-intro {
    width: 1100px;
}

.l1 {
    width: 130px;
    height: 100vh;
    overflow-wrap: break-word;
}

.l2 {
    width: 170px;
    height: 100vh;
    overflow-wrap: break-word;
}

.l3 {
    width: 1500px;
    height: 100vh;
    overflow-wrap: break-word;
    white-space: initial !important;
}

.l4 {
    width: 575px;
    height: 100vh;
    overflow-wrap: break-word;
    white-space: initial !important;
}

.ly-proceso--2 {
    width: 1185px;
}

.text-break {
    overflow-wrap: break-word;
    white-space: initial !important;
}

.ly-lineas--2 {
    width: 1230px;
}

.ly-lineas--3 {
    width: 470px;
}
