<style>

</style>



<div class="section bg-white" data-scroll-section>
    <div class="d-flex h-100v">
        <!-- title  -->
        <div class="ly-curso-1">
            <div class="titlewrap d-flex flex-column justify-content-center">
                <div class="titlewrap-rotate">
                    <h2 data-scroll="" data-scroll-direction="horizontal" data-scroll-speed="2"
                        class="title-6 color-blue-1 p-5 mt-7">
                        Crash course online</h2>
                </div>
            </div>
        </div>

        <!-- Fin title -->

        <div class="ly-curso-2 h-100v d-flex flex-column justify-content-between align-items-end py-5">
            <div class="pr-5">
                <p class="title-2 color-blue-1 mb-2">29-30 de Junio</p>
                <p class="text-sm font-300 color-blue-4"> de 15:00 a 18:30</p>
            </div>
            <div class="pr-5">
                <p class="text-sm font-300 color-blue-4 text-uppercase mb-2"> líneas de investigación</p>
                <p class="title-2 color-blue-1">Toma de decisiones</p>
            </div>
        </div>

        <div class="ly-curso-3 d-flex flex-column justify-content-center align-items-center">
            <!-- <img src="/assets/images/sky.png" alt=""> -->

            <figure class="img-zoom">
                <img src="/assets/images/sky.png" alt="Imagen" class="" data-scroll data-scroll-delay="1"
                    data-scroll-class="img-zoom-active">
            </figure>



        </div>

        <div class="ly-curso-4  h-100v d-flex flex-column justify-content-center align-items-center">
            <div class="curso-text__wrap text-wrap">
                <div class="mb-5">
                    <span class="text-uppercase text-sm color-blue-4">Líneas</span>
                    <p class="title-4 line-2xl pr-5 pt-3">
                        Intervenir en la tecnología que diseña nuestro comportamiento
                    </p>
                </div>
                <div class="ml-8 pl-3">
                    <p class="subtitle mb-4 color-blue-1">
                        Ideas erróneas sobre nuestra percepción del mundo y cómo la tecnología nos (des)habilita para
                        tomar decisiones en él
                    </p>
                    <p class="color-blue-4 line-2xl">
                        Compartimos en este curso intensivo nuestras experiencias de intervención, además de una base
                        teórica profunda sobre los
                        mecanismos psicológicos que sustentan la ciencia del cambio comportamental, los “nudges
                        digitales” y cuál está siendo su
                        aplicación práctica en tecnología.
                    </p>
                    <div class="pt-4 icon-mini mr-3">
                        <a href="" class="decoration-none mb-3 btn-secondary d-flex justify-content-between" data-scroll
                            data-scroll-class="aaaaa">Reservar
                            plaza
                            <div class="pl-3">
                                {{ svgSprite('arrow') }}
                            </div>
                        </a>
                    </div>
                </div>
            </div>





        </div>
    </div>
</div>