{# ----- HOME ----- #}
{% extends "layouts::/page.twig" %}
{% block page %}

{# Menu #}
{% include "@base/menu/menu.twig" %}

<div class="bg-blue-1" data-scroll-container>
  <div class="section bg-blue-1 px-6" data-scroll-section>
    <h2 class="title-2 font-secondary color-white text-uppercase ml-6 title-bikolabs__pos">Bikolabs</h2>
    <div class="d-flex flex-md-row">
      <div class="d-flex flex-column h-100v  justify-content-center align-items-center intro-wrap__left">
        <div>

          <h1 class="title-4 color-white line-3xl">Investigamos y modelamos<br>
            la potencia e implicaciones<br>
            de la interacción presente y futura<br>
            entre personas y tecnología.</h1>
        </div>

      </div>
      <div class="intro-wrap__right" data-scroll data-scroll-direction="horizontal" data-scroll-speed="4">
        <div id="canvas" class="fluid"></div>
      </div>

    </div>
    <div class="" data-scroll data-scroll-direction="horizontal" data-scroll-speed="3">
      <img src="/assets/images/arrow.png" alt="Flecha de continuación">
    </div>

  </div>


  <!-- Nuestro proceso  -->
  {% include "@base/bloque-nuestro-proceso/index.twig" %}
  <!-- Fin Nuestro proceso  -->

  <!-- Linea de investigacion  -->
  {% include "@base/bloque-lineas-de-investigacion/index.twig" %}
  <!-- Fin Linea de investigacion  -->

  <!-- Curso  -->
  {% include "@base/bloque-curso/index.twig" %}
  <!-- Fin Curso  -->

  <!--  El estudio  -->
  {% include "@base/bloque-el-estudio/index.twig" %}
  <!-- Fin El estudio  -->

  <!-- Equipo A  -->
  {% include "@base/bloque-equipo-a/index.twig" %}
  <!-- Fin Equipo A  -->

  {% endblock %}