<form action="https://www.getdrip.com/forms/86110373/submissions" method="post" data-drip-embedded-form="86110373"
    id="drip-ef-86110373" class="form-type-one">
    <div data-drip-attribute="description"><strong>Si los encuentra, quizá pueda contratarlos</strong><br>
        <br>
        <br>
        Hasta la fecha, la mayoría de los proyectos de intervención de Bikolabs han sido propios. Con nuestra
        presentación oficial en sociedad, nos encontramos en disposición de aceptar peticiones de quienes deseen
        recurrir al estudio.<br>
        Por eso hacemos nuestro el lema del Equipo A. "Si tiene usted un problema y se los encuentra, quizá pueda
        contratarlos":
    </div>
    <div>
        <label for="drip-first-name">Tu nombre completo</label><br>
        <input type="text" id="drip-first-name" name="fields[first_name]" value="">
    </div>
    <div>
        <label for="drip-email">Tu email</label><br>
        <input type="email" id="drip-email" name="fields[email]" value="">
    </div>
    <div>
        <label for="drip-telefono">Teléfono</label><br>
        <input type="text" id="drip-telefono" name="fields[telefono]" value="">
    </div>
    <div>
        <label for="drip-problema-bikolabs">Cuéntanos tu problema</label><br>
        <input type="text" id="drip-problema-bikolabs" name="fields[problema_bikolabs]" value="">
    </div>
    <div>
        <label for="drip-porque-bikolabs-podria-ayudarte">Por qué crees que Bikolabs podría ayudarte</label><br>
        <input type="text" id="drip-porque-bikolabs-podria-ayudarte" name="fields[porque_bikolabs_podria_ayudarte]"
            value="">
    </div>
    <div>
        <input type="hidden" name="fields[eu_consent]" id="drip-eu-consent-denied" value="denied">
        <input type="checkbox" name="fields[eu_consent]" id="drip-eu-consent" value="granted">
        <label for="drip-eu-consent"><a href="https://www.biko2.com/proteccion-de-datos/"
                title="Enlace a protección de datos">He leído y acepto las condiciones y términos de uso</a></label>
    </div>
    <input type="hidden" name="fields[eu_consent_message]" value="">
    <div style="display: none;" aria-hidden="true">
        <label for="website">Website</label><br>
        <input type="text" id="website" name="website" tabindex="-1" autocomplete="false" value="">
    </div>
    <input type="hidden" name="tags[]" id="tags_" value="contacto_bikolabs" tabindex="-1">
    <div>
        <input type="submit" value="Enviar" data-drip-attribute="sign-up-button">
    </div>
</form>