<div class="ly-form-curso px-2 text-wrap">
	<form action="https://www.getdrip.com/forms/696963291/submissions" method="post" data-drip-embedded-form="696963291"
		id="drip-ef-696963291" class="form-type-one form-colabora">
		<div class="px-3 form-colabora-checks">


			<div class="form-check mb-3 pb-1">
				<input type="checkbox" id="16615" name="fields[tipo_contribucion_bikolabs]"
					value="Apoyando económicamente proyectos o líneas de investigación concretas.">
				<label class="pl-3 text-base color-blue-1" class="pl-3 text-base color-blue-1"
					for="16615">Convirtiéndote en socio de Bikolabs y contribuyendo con una
					pequeña aportación
					mensual.</label>
			</div>

			<div class="form-check mb-3 pb-1">
				<input type="checkbox" id="16616" name="fields[tipo_contribucion_bikolabs]"
					value="Colaborando en proyectos e intervenciones de Bikolabs con tu expertís.">
				<label class="pl-3 text-base color-blue-1" for="16616">Apoyando económicamente proyectos o líneas de
					investigación concretas.</label>
			</div>

			<div class="form-check mb-3 pb-1">
				<input type="checkbox" id="16617" name="fields[tipo_contribucion_bikolabs]"
					value="Participando en los cursos que Bikolabs organice para difundir su aprendizaje en las líneas de investigación que tenga abiertas.">
				<label class="pl-3 text-base color-blue-1" for="16617">Colaborando en proyectos e intervenciones de
					Bikolabs con tu expertís.</label>
			</div>

			<div class="form-check mb-3 pb-1">
				<input type="checkbox" id="16618" name="fields[tipo_contribucion_bikolabs]"
					value="Contribuyendo a difundir en redes y medios de comunicación los resultados y la actividad de Bikolabs.">

				<label class="pl-3 text-base color-blue-1" for="16618">Participando en los cursos que Bikolabs organice
					para difundir su aprendizaje en las
					líneas
					de investigación que tenga abiertas.</label>

			</div>


			<div class="form-check mb-3 pb-1">
				<input type="checkbox" id="16619" name="fields[tipo_contribucion_bikolabs]">

				<label class="pl-3 text-base color-blue-1" for="16619">Contribuyendo a difundir en redes y medios de
					comunicación los resultados y la
					actividad
					de
					Bikolabs.</label>
			</div>

			<div class="form-check mb-3 pb-1">
				<input type="checkbox" id="6617" name="fields[otros]" value="Otro">
				<label class="pl-3 text-base color-blue-1" for="6617">Otro</label><br>
			</div>

			<div id="textarea6667" class="d-none mb-4">
				<textarea name="" id="" cols="30" rows="3" placeholder=""></textarea>
			</div>

		</div>

		<div class="d-flex flex-row mb-4">
			<div class="w-50 px-3">
				<label class="sr-only" for="drip-nombre">Tu nombre</label>
				<input type="text" id="drip-nombre" name="fields[nombre]" value="" placeholder="Tu nombre" required>
			</div>
			<div class="w-50 px-3">
				<label class="sr-only" for="drip-email">Tu email</label>
				<input type="email" id="drip-email" name="fields[email]" value="" placeholder="Tu email" required>
			</div>
		</div>

		<div class="px-3">
			<div class="form-check mb-5 px-3">
				<input type="hidden" name="fields[eu_consent]" id="drip-eu-consent-denied" value="denied">
				<input type="checkbox" name="fields[eu_consent]" id="drip-eu-consent" value="granted">
				<label for="drip-eu-consent"><a class="color-blue-1 text-base decoration-none pl-2"
						href="https://www.biko2.com/proteccion-de-datos/" title="Enlace a protección de datos">He leído
						y
						acepto las condiciones y términos de uso</a></label>
			</div>
		</div>

		<input type="hidden" name="fields[eu_consent_message]" value="">
		<div style="display: none;" aria-hidden="true">
			<label for="website">Website</label><br>
			<input type="text" id="website" name="website" tabindex="-1" autocomplete="false" value="">
		</div>
		<input type="hidden" name="tags[]" id="tags_" value="contribuyente-bikolabs" tabindex="-1">
		<div class="px-3 mb-5">
			<input type="submit" class="btn-secondary" value="Enviar" data-drip-attribute="sign-up-button">
		</div>
		<div class="px-3 w-100">
			<p class="color-blue-6 text-sm">
				<i>BIKO2 2006, S.L. como responsable del tratamiento de sus datos gestionará con su consentimiento, los
					procedimientos
					administrativos con el objetivo de responder a tu solicitud de información. Sus datos no se cederán
					a terceros salvo
					obligación legal o que la cesión sea necesaria para el cumplimiento de la finalidad. Usted puede
					ejercer los
					derechos de acceso, rectificación o supresión de sus datos. Puede consultar la información adicional
					y detallada
					sobre Protección de Datos desde <a class="color-blue-1"
						href="https://www.biko2.com/proteccion-de-datos/" target="_blank">este
						enlace</a>.</i>

			</p>

		</div>
	</form>
</div>