<form action="https://www.getdrip.com/forms/696963291/submissions" method="post" data-drip-embedded-form="696963291"
    id="drip-ef-696963291" class="form-type-one">
    <div data-drip-attribute="description"><strong>Cómo contribuir con el estudio</strong><br>
        <br>
        Estamos imaginando nuevas formas de financiarnos. Y nos gustaría saber tu opinión sobre el modelo con el que te
        sentirías más cómodo para contribuir con Bikolabs. <br>
        <br>
        Cuéntanos qué modelo te podría encajar para contribuir:
    </div>
    <div>
        <label for="drip-tipo-contribucion-bikolabs">Tipo contribucion bikolabs</label><br>
        <select name="fields[tipo_contribucion_bikolabs]">
            <option disabled="" selected="" value="">Select an option</option>
            <option value="Convirtiéndote en socio de Bikolabs y contribuyendo con una pequeña aportación mensual.">
                Convirtiéndote en socio de Bikolabs y contribuyendo con una pequeña aportación mensual.</option>
            <option value="Apoyando económicamente proyectos o líneas de investigación concretas.">Apoyando
                económicamente proyectos o líneas de investigación concretas.</option>
            <option value="Colaborando en proyectos e intervenciones de Bikolabs con tu expertís.">Colaborando en
                proyectos e intervenciones de Bikolabs con tu expertís.</option>
            <option
                value="Participando en los cursos que Bikolabs organice para difundir su aprendizaje en las líneas de investigación que tenga abiertas.">
                Participando en los cursos que Bikolabs organice para difundir su aprendizaje en las líneas de
                investigación que tenga abiertas.</option>
            <option
                value="Contribuyendo a difundir en redes y medios de comunicación los resultados y la actividad de Bikolabs.">
                Contribuyendo a difundir en redes y medios de comunicación los resultados y la actividad de Bikolabs.
            </option>
            <option value="Otro">Otro</option>
        </select>
    </div>
    <div>
        <label for="drip-nombre">Tu nombre</label><br>
        <input type="text" id="drip-nombre" name="fields[nombre]" value="">
    </div>
    <div>
        <label for="drip-email">Tu email</label><br>
        <input type="email" id="drip-email" name="fields[email]" value="">
    </div>
    <div>
        <input type="hidden" name="fields[eu_consent]" id="drip-eu-consent-denied" value="denied">
        <input type="checkbox" name="fields[eu_consent]" id="drip-eu-consent" value="granted">
        <label for="drip-eu-consent"><a href="https://www.biko2.com/proteccion-de-datos/"
                title="Enlace a protección de datos">He leído y acepto las condiciones y términos de uso</a></label>
    </div>
    <input type="hidden" name="fields[eu_consent_message]" value="">
    <div style="display: none;" aria-hidden="true">
        <label for="website">Website</label><br>
        <input type="text" id="website" name="website" tabindex="-1" autocomplete="false" value="">
    </div>
    <input type="hidden" name="tags[]" id="tags_" value="contribuyente-bikolabs" tabindex="-1">
    <div>
        <input type="submit" value="Enviar" data-drip-attribute="sign-up-button">
    </div>
</form>