<form action="https://www.getdrip.com/forms/63606088/submissions" method="post" data-drip-embedded-form="63606088"
    id="drip-ef-63606088" class="form-type-one">
    <div data-drip-attribute="description"><strong>Reserva de plaza</strong><br>
        <br>
        <strong>Curso: </strong>Intervenir en la tecnología que diseña nuestro comportamiento<br>
        <strong>Fechas: </strong>29-30 Junio 2021 de 15:00 a 18:30<br>
        <strong>Precio: </strong>Tarifa Early (45€ 95€)
    </div>
    <div>
        <label for="drip-first-name">Tu nombre completo</label><br>
        <input type="text" id="drip-first-name" name="fields[first_name]" value="">
    </div>
    <div>
        <label for="drip-email">Tu email</label><br>
        <input type="email" id="drip-email" name="fields[email]" value="">
    </div>
    <div>
        <label for="drip-empresa">Dónde trabajas</label><br>
        <input type="text" id="drip-empresa" name="fields[empresa]" value="">
    </div>
    <div>
        <label for="drip-comentarios">Si quieres comentarnos algo</label><br>
        <input type="text" id="drip-comentarios" name="fields[comentarios]" value="">
    </div>
    <div>
        <input type="hidden" name="fields[eu_consent]" id="drip-eu-consent-denied" value="denied">
        <input type="checkbox" name="fields[eu_consent]" id="drip-eu-consent" value="granted">
        <label for="drip-eu-consent"><a href="https://www.biko2.com/proteccion-de-datos/"
                title="Enlace a protección de datos">He leído y acepto las condiciones y términos de uso</a></label>
    </div>
    <input type="hidden" name="fields[eu_consent_message]" value="">
    <div style="display: none;" aria-hidden="true">
        <label for="website">Website</label><br>
        <input type="text" id="website" name="website" tabindex="-1" autocomplete="false" value="">
    </div>
    <input type="hidden" name="tags[]" id="tags_" value="interesados-curso-bikolabs" tabindex="-1">
    <div>
        <input type="submit" value="Enviar" data-drip-attribute="sign-up-button">
    </div>
</form>