{% extends "layouts::/page.twig" %}
{% block page %}
<div id="home" class="bg-white d-flex justifiy-content-center align-items-center w-100 h-100v lab-wrap">
    <div class="w-100 d-flex justify-content-center">
        <div class="text-3xl color-blue-1 font-700 font-secondary home d-flex">

            <div class="d-flex">
                <div>ESTUDIO {</div>
                <div class="lab-center">
                    <span class="lab lab-absolute">de intervención</span>
                    <span class="lab1 lab-absolute">de especulación</span>
                    <span class="lab2 lab-absolute">de investigación</span>
                    <span class="lab3 lab-absolute">soy mini </span>
                </div>
                <div>} BIKOLABS</div>
            </div>





        </div>
    </div>
</div>

<div class="adivider">
    <div class="intro-inf">

    </div>
</div>

<!-- <div class="bg-white d-flex justifiy-content-center align-items-center w-100 h-100v">
    <div class="w-100 text-center">
        <div class="text-3xl color-blue-1 font-700 font-secondary w-100 home d-flex justify-content-center">
            <div>ESTUDIO {</div>
            <div class="lab-center dev">
                <div class="lab dev">de intervención</div>
                <div class="lab1 dev">de especulación</div>
                <div class="lab2 dev">de investigación</div>
            </div>
            <div>} BIKOLABS</div>
        </div>
    </div>
</div> -->
{% endblock %}