<div id="investigacion" class="section bg-blue-1 pr-8 mr-8" data-scroll-section>
    <div class="d-flex h-100v">
        <!-- Paginador + title  -->
        <div class="ly-lineas--1">
            <div class="d-flex flex-row py-5 h-100 align-items-center">
                <div class="ab ml-3"></div>
            </div>
        </div>
        <div class="titlewrap d-flex flex-column justify-content-center">
            <div class="titlewrap-rotate titlewrap-rotate--investigacion">
                <h2 data-scroll="" data-scroll-direction="horizontal" data-scroll-speed="2"
                    class="title-6 color-white p-5 mt-7">
                    Lineas de Investigación</h2>
            </div>
        </div>
        <!-- Fin Paginador -->

        <div class="ly-lineas--2 h-100v d-flex flex-column justify-content-center">
            <div class="d-flex flex-row justify-content-end">
                <div class="lineas-text text-break d-flex flex-column justify-content-center">
                    <p class="color-white text-xl line-2xl pr-5">
                        En Bikolabs siempre tenemos diversas líneas de investigación abiertas sobre la relación entre
                        personas y tecnología.
                        Ahora mismo son:
                    </p>
                </div>

                <img src="/assets/images/lineas.jpg" alt="Nuestras lineas de investigación Imagen">
            </div>
        </div>
        <div class="ly-lineas--3 h-100v d-flex flex-column justify-content-center" data-scroll=""
            data-scroll-direction="horizontal" data-scroll-speed="2">
            <div class="d-flex flex-column lineas-position mt-7">
                <div class="text-right subtitle-decoration mb-4 pb-2">
                    <span class="text-uppercase color-blue-4 text-sm">Lineas</span>
                </div>
                <p href="" class="title-3 decoration-none color-white mb-3">Explicabilidad IA</p>
                <p href="" class="title-3 decoration-none color-white mb-3">Toma de decisiones</p>
                <p href="" class="title-3 decoration-none color-white mb-3">Belleza y arte</p>
                <p href="" class="title-3 decoration-none color-white mb-3">Conducta IA</p>
                <p href="" class="title-3 decoration-none color-white mb-3">Futuros</p>
                <div class="pt-4 icon-mini mr-3">
                    <a href="" class="decoration-none mb-3 btn-primary d-flex justify-content-between">Descubre las
                        lineas
                        <div class="pl-3">
                            {{ svgSprite('arrow') }}
                        </div>

                    </a>
                </div>

            </div>
        </div>
    </div>
</div>