.dev2 {
    border: 2px solid rosybrown;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.horizontal-scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.horizontal-scroll {
    width: 100vw;
    height: 100vh;
}

.section {
    height: 100vh;
    position: relative;
    overflow-wrap: break-word;
}

.intro-wrap__left {
    position: relative;
    right: -150px;
    z-index: -11111;

    h1 {
        position: relative;
        top: 50px;
    }
}

.intro-wrap__right {
    position: relative;
    left: -150px;
    z-index: -22222;
    width: 1500px;
    height: auto;
}

// Menu

.titlewrap {
    height: 100%;
    width: 100px;
}

.titlewrap-rotate {
    transform: rotate(-90deg);
    margin-top: 613px;
}

.titlewrap-rotate--investigacion {
    margin-top: 700px;
}

.title-proceso {
    position: relative;
    left: 140px;
}

.separator-vertical {
    width: 2px;
    height: 500px;
    background-color: $color-blue-4;
}

.lineas-investigacion {
    padding: 10px 300px 10px 0;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.h-100v {
    height: 100vh;
}

.dev-w {
    min-width: 400px;
}

.ab {
    width: 1px;
    height: 100%;
    background-color: $color-blue-4;
}

.descripcion-ficha {
    padding: 20px 200px;
}

.investigacion-title__position {
    position: relative;
    left: 60px;
    z-index: 11111;
}

.investigacion-img__position {
    position: relative;
    right: 105px;
}

.investigacion-experimento__wrap {
    width: 700px;
    height: 600px;
    padding: 80px 190px 80px 80px;
    position: relative;
    right: -160px;
}

.investigacion-experimento__img {
    margin: 30px;
    z-index: 11111;
}

.investigacion-text__wrap {
    width: 500px;
    height: auto;
}

.item-proceso__wrap {
    border-bottom: 1px solid $color-blue-4;
}

.item-proceso__container {
    width: 480px;
    overflow-wrap: break-word;
    white-space: initial !important;
    margin-left: 220px;
    margin-right: 420px;
}

.lineas-text {
    width: 325px;
}

.subtitle-decoration {
    border-bottom: 1px solid $color-blue-4;
}

.lineas-position {
    position: relative;
    left: -80px;
}

.curso-text {
    width: 470px;
}

.curso-text__wrap {
    width: 500px;
}

.flex-50 {
    flex-basis: 50%;
}

.equipo-bg {
    background-image: url("/assets/images/a.svg");
    background-position: top;
    background-repeat: no-repeat;
}

.estudio-text {
    width: 575px;
    margin-left: 190px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.estudio-text__wrap {
    flex-basis: 25%;
}

.title-bikolabs__pos {
    position: relative;
    top: 60px;
}

.curso-text2__wrap {
    width: 450px;
}

.title-decoration {
    height: 33px;
}
