.aaa {
    width: 100%;
    height: 100vh;
}

.bbb {
    width: 100%;
    height: 100vh;
}

.ccc {
    width: 100%;
    height: 100vh;
}

.ddd {
    width: 100%;
    height: 100vh;
}

.dev2 {
    border: 2px solid rosybrown;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.horizontal-scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.horizontal-scroll {
    width: 100vw;
    height: 100vh;
}

.section {
    height: 100vh;
    position: relative;
    overflow-wrap: break-word;

    @include media-breakpoint-down(md) {
        border: 2px solid red;
    }
}

.intro-wrap__left {
    position: relative;
    right: -250px;
    z-index: -11111;

    h1 {
        position: relative;
        top: 50px;
    }
}

.intro-wrap__right {
    position: relative;
    left: -150px;
    z-index: -22222;
    width: 1500px;
    height: auto;
}

// Menu

.titlewrap {
    height: 100%;
    width: 100px;
}

.titlewrap-rotate {
    transform: rotate(-90deg);
    margin-top: 300px;
}

.separator-vertical {
    width: 2px;
    height: 500px;
    background-color: $color-blue-4;
}

.lineas-investigacion {
    padding: 10px 300px 10px 0;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.h-100v {
    height: 100vh;
}

.dev-w {
    min-width: 400px;
}

.ab {
    width: 1px;
    height: 100%;
    background-color: $color-blue-4;
}

.l1 {
    width: 130px;
    height: 100vh;
    overflow-wrap: break-word;

    // background-color: rebeccapurple;
}

.l2 {
    width: 170px;
    height: 100vh;
    overflow-wrap: break-word;

    // background-color: rgb(113, 100, 126);
}

.l3 {
    width: 1500px;
    height: 100vh;
    overflow-wrap: break-word;
    white-space: initial !important;

    // background-color: rgb(50, 36, 63);
}

.l4 {
    width: 575px;
    height: 100vh;
    overflow-wrap: break-word;
    white-space: initial !important;

    // background-color: rgb(64, 2, 122);
}

.descripcion-ficha {
    padding: 20px 200px;
}

.investigacion-title__position {
    position: relative;
    left: 60px;
    z-index: 11111;
}

.investigacion-img__position {
    position: relative;
    right: 105px;
}

.investigacion-experimento__wrap {
    width: 700px;
    height: 600px;
    padding: 80px 190px 80px 80px;
    position: relative;
    right: -160px;
}

.investigacion-experimento__img {
    margin: 30px;
    z-index: 11111;
}

.investigacion-text__wrap {
    width: 500px;
    height: auto;
}
