.nav-init {
    width: 80px;
    height: 100%;
    border-right: 1px solid #E5E5E5;
    text-align: center;
    padding: 20px 0px;
    position: absolute;
    top: 0;
    z-index: 1111111;

    @include media-breakpoint-down(md) {
        border-bottom: 1px solid $color-blue-4;
        width: 100vw;
        height: 70px !important;
        text-align: left;
        padding: 10px;
    }
}

.nav-rotate {
    transform: rotate(-90deg);
    display: flex;

    @include media-breakpoint-down(md) {
        display: none;
        transform: none;
    }
}

.nav-primary {
    width: 110px;
    background-color: $color-blue-1;

    span {
        color: white;
    }

    img.logo {
        width: auto;
        height: 24px !important;
    }

    nav > a {
        color: $white;

        &:hover {
            color: $color-pink-1;
        }
    }
}

.nav-clear {
    width: 110px;
    background-color: $color-white !important;

    span {
        color: $color-blue-1;
    }

    img.logo {
        width: auto;
        height: 24px !important;
    }

    nav > a {
        color: $color-blue-1 !important;

        &:hover {
            color: $color-pink-1;
        }
    }
}

.border-top-blue {
    border-top: 1px solid $color-blue-1;
}

.bbb {
    width: 10px;
    height: 10px;
}
