a.btn-primary {
    display: inline-block;
    background-color: $color-white;
    padding: 25px 35px;
    font-size: 16px;
    color: $color-blue-1;
    text-transform: uppercase;
    font-weight: 600;

    svg {
        transition: all 0.5s;
        transform: translate(0px, 0px);
    }
}

a.btn-secondary {
    @extend .btn-primary;

    background-color: $color-pink-1;
}

a.btn-secondary:hover {
    color: $color-white !important;

    svg {
        transform: translate(8px, 0px);
    }
}

a.btn-primary:hover {
    color: $color-pink-1;

    svg {
        transform: translate(8px, 0px);
    }
}
