$select-img: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.3091 16.3241L20.1619 8.4713L19.4747 7.78418L12.3091 14.9498L5.14346 7.78418L4.45635 8.4713L12.3091 16.3241Z' fill='%23003264'/%3E%3Cpath d='M4.35815 8.47133L5.24159 7.58789L5.33975 7.68605L12.3091 14.7535L19.4747 7.58789L20.3582 8.47133L12.3091 16.4222L12.2109 16.4222L4.35815 8.47133ZM5.14343 7.88237L4.55447 8.47133L12.3091 16.2259L20.0637 8.47133L19.4747 7.88237L12.3091 15.048L12.2109 14.9499L5.14343 7.88237Z' fill='%23003264'/%3E%3C/svg%3E%0A");
$form-primary: $color-blue-6;
$form-active: $color-pink-1;
$form-error: red;

.form-type-one {
    select,
    option.selected {
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-right: rem(30px);
    }

    input, select {
        height: 48px;
        border-radius: 6px;
        border-color: $form-primary;
        border: 2px solid $form-primary;
    }

    input.error {
        border-color: $form-error;
    }

    .form-text {
        margin-top: 0 !important;
    }

    .form-required::after {
        content: "*";
    }

    select {
        background-image: $select-img;
        background-repeat: no-repeat;
        background-position: 97% 53%;
        appearance: none;
    }

    select.error {
        border-color: $form-error;
    }

    textarea.error {
        border-color: $form-error;
    }

    textarea {
        border-radius: 6px;
        border-color: $form-primary;
        width: 100%;
        padding: 10px;
        border: 2px solid $form-primary;
    }

    input[type="checkbox"] {
        width: 16px;
        height: 16px;
        border-radius: 3px;
        border: 1px solid $form-primary;
        appearance: none;
        background-color: white;
    }

    input[type="checkbox"]:checked {
        background-color: $form-active;
    }

    input[type=submit] {
        // @extend a.button-primary;

        border: 2px solid transparent;
        padding: 1rem 8rem;
    }

    .form-control:focus {
        color: #495057;
        background-color: #fff;
        border: 2px solid $form-active;
        outline: 0;
        box-shadow: none;
    }

    .form-control:disabled, .form-control[readonly] {
        background-color: #e9ecef;
        opacity: 1;
        border-color: #e9ecef;
    }

    .form-control {
        .error:focus {
            border: 2px solid $form-error;
        }
    }

    .form-check {
        display: flex;
        padding-left: 1.25rem;
        align-items: center;
    }

    label {
        text-transform: uppercase;
        font-size: $size-sm;
        color: $form-primary;
        margin-bottom: 0;
    }

    label.form-check-label {
        text-transform: none;
    }

    label.error {
        // @extend .text-xs;

        @extend .pt-1;

        color: $form-error;
        text-transform: none;
    }

    .form-row {
        @extend .mb-lg-4;

        @extend .mb-1;

        > .col,
        > [class*="col-"] {
            padding-right: $form-grid-gutter-width / 1;
            padding-left: $form-grid-gutter-width / 1;

            @extend .mb-3;

            @extend .mb-lg-0;
        }
    }
}

.form-search {
    display: flex;
    width: 100%;

    .form-item {
        width: 100%;
    }

    label {
        visibility: hidden;
        position: absolute;
        left: -111111111111;
    }

    input[type="image"] {
        height: 48px;
        border-radius: 0px 6px 6px 0px;
        border-color: $form-primary;
        border-top: 2px solid $blue;
        border-right: 2px solid $blue;
        border-bottom: 2px solid $blue;
        background-color: $blue;
        border-left: transparent !important;
        padding: 10px;
    }

    input.form-text {
        border-radius: 6px 0px 0px 6px;
        border-top: 2px solid $form-primary;
        border-right: transparent;
        border-bottom: 2px solid $form-primary;
        border-left: 2px solid $form-primary;
        width: 100%;
        padding-left: 10px;
    }
}

.form-block__position {
    position: relative;
    top: -50px;
}

.form-check input[type="checkbox"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.form-check input[type="checkbox"]:active + label:before {
    transition-duration: 0s;
}

.form-check input[type="checkbox"] + label {
    position: relative;
    left: 3px;
    vertical-align: middle;
    user-select: none;
    cursor: pointer;
    padding-left: 0em;

    // line-height: $line-size-2xl;
    color: black;
}

.form-check input[type="checkbox"] + label:before {
    box-sizing: content-box;
    content: '';
    color: rgb(255, 255, 255);
    position: absolute;
    left: -22px;
    top: 1px;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: 1px solid $form-primary !important;
    transition: all 0.4s ease;
    background-color: $white;
}

.form-check input[type="checkbox"] + label:after {
    box-sizing: content-box;
    content: '';
    background-color: white;
    position: absolute;
    top: 6px;
    left: -18px;
    width: 8px;
    height: 3px;
    border-style: solid;
    border-color: white;
    border-width: 0 0 3px 3px;
    transform: rotate(-45deg) scale(0);
    transform-origin: 50%;
    transition: transform 200ms ease-out;
}

.form-check input[type="checkbox"]:checked + label:after {
    content: '';
    transform: rotate(-45deg) scale(1);
    transition: transform 200ms ease-out;
    background-color: transparent;
}

.form-check input[type="checkbox"]:checked + label:before {
    animation: borderscale 200ms ease-in;
    background: $blue;
}

.form-check input[type="checkbox"]:checked + label:after {
    transform: rotate(-45deg) scale(1);
}

@keyframes borderscale {
    50% {
        box-shadow: 0 0 0 2px $blue;
    }
}

.form-item--error-message {
    color: red;
}

.w-50 {
    width: 50%;
}
