<div class="section bg-blue-1 ml-8 pl-8" data-scroll-section>
    <div class="d-flex h-100v">
        <!-- Paginador + title  -->
        <div class="ly-lineas--1">
            <div class="d-flex flex-row py-5 h-100 align-items-center">
                <div class="ab ml-3"></div>
            </div>

        </div>
        <div class="titlewrap d-flex flex-column justify-content-center">
            <div class="titlewrap-rotate">
                <h2 data-scroll="" data-scroll-direction="horizontal" data-scroll-speed="2"
                    class="title-6 color-white p-5 mt-7">
                    Por que El estudio</h2>
            </div>
        </div>

        <!-- Fin Paginador -->
        <div class="ly-estudio-2">
            <div class="d-flex flex-column">
                <div class="d-flex flex-row justify-content-star">
                    <div class="estudio-text text-wrap">
                        <p class="title-3 color-white">
                            La tecnología impacta en cómo percibimos la realidad y cómo nos comportamos. Y pese a lo que
                            a veces queremos creer, la
                            tecnología no es neutral.
                        </p>
                    </div>
                </div>
                <div class="d-flex flex-row justify-content-center">
                    <div class="estudio-text__wrap color-blue-5 font-300 text-wrap px-3">
                        <p>¿Qué nuevas normas estamos estableciendo desde la tecnología sobre cómo es el mundo? ¿Cómo
                            intervenir sobre esa
                            tecnología (incluso de forma crítica) para contribuir a una convivencia real y positiva
                        </p>
                        <p>
                            Nuestro objetivo es contribuir a que la tecnología hecha por y para las personas tenga un
                            impacto positivo en la
                            sociedad y en las organizaciones.
                        </p>
                    </div>
                    <div class="estudio-text__wrap text-wrap px-3 mx-3">
                        <p class="color-white mr-6">
                            Y no queremos que nada nos limite para ello. Por eso estamos imaginando nuevas formas de
                            financiarnos. Y nos gustaría
                            saber tu opinión sobre el modelo con el que te sentirías más cómodo para contribuir con
                            Bikolabs.
                        </p>
                        <div class="pt-4 icon-mini mr-8">
                            <a href="" class="decoration-none mb-3 btn-primary d-flex justify-content-between">Como
                                contribuir
                                <div class="pl-3">
                                    {{ svgSprite('arrow') }}
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>