{# ----- HOME ----- #}
{% extends "layouts::/page.twig" %}
{% block page %}

{# Menu #}
{% include "@base/menu/menu.twig" %}

<div class="bg-blue-1" data-scroll-container>

	<!-- Intro -->
	<div class="section bg-blue-1 ml-8" data-scroll-section>
		<div class="ly-intro pl-8">
			<div>
				<h1 class="title-5 color-white pt-8 mb-7 line-7xl">Líneas de
					<br>investigacion<br>
					abiertas
				</h1>
			</div>
			<div class="pl-6">
				<div class="d-flex color-white align-items-center">
					<img class="pb-1" src="/assets/images/arrow.svg" alt="Linea de investigación flecha">
					<a class="decoration-none color-white ml-3 title-1 hover-pink-1" href="#explicabilidad"
						data-scroll-to>
						Explicabilidad IA
					</a>
				</div>
				<div class="d-flex color-white align-items-center">
					<img class="pb-1" src="/assets/images/arrow.svg" alt="Linea de investigación flecha">
					<a class="decoration-none color-white ml-3 title-1 hover-pink-1" href="#toma-decisones"
						data-scroll-to>
						Toma de decisiones
					</a>
				</div>
				<div class="d-flex color-white align-items-center">
					<img class="pb-1" src="/assets/images/arrow.svg" alt="Linea de investigación flecha">
					<a class="decoration-none color-white ml-3 title-1 hover-pink-1" href="#bellezayarte"
						data-scroll-to>
						Belleza y arte
					</a>
				</div>
				<div class="d-flex color-white align-items-center">
					<img class="pb-1" src="/assets/images/arrow.svg" alt="Linea de investigación flecha" data-scroll-to>
					<a class="decoration-none color-white ml-3 title-1 hover-pink-1" href="#conductaia" data-scroll-to>
						Conducta IA
					</a>
				</div>
				<div class="d-flex color-white align-items-center">
					<img class="pb-1" src="/assets/images/arrow.svg" alt="Linea de investigación flecha">
					<a class="decoration-none color-white ml-3 title-1 hover-pink-1" href="#futuros">
						Futuros
					</a>
				</div>
			</div>
		</div>
		<div id="invest"></div>
	</div>
	<!-- Intro -->


	<!-- Explicabilidad IA -->
	<div id="explicabilidad" class="section bg-blue-1 pl-7" data-scroll-section>
		<div class="d-flex h-100v">

			<!-- Paginador -->
			<div class="ly-investigacion--1">
				<div class="d-flex flex-row py-5 h-100 align-items-center">
					<div class="text-sm color-blue-4 my-4">
						<span>01</span>
					</div>
					<div class="ab ml-3"></div>
				</div>
			</div>
			<!-- Fin Paginador -->

			<!-- Title + Image  -->
			<div class="ly-investigacion--2">
				<div class="d-flex h-100v">
					<div class="d-flex flex-column align-items-center justify-content-center investigacion-title__position"
						data-scroll data-scroll-speed="1" data-scroll-direction="vertical">
						<h2 class="title-4 color-white">Explicabilidad IA</h2>
					</div>
					<div
						class="d-flex flex-column align-items-center justify-content-center investigacion-img__position text-right">
						<img src="/assets/images/sky.png" alt="Imagen Gibsom">
						<p class="color-blue-7 text-sm pt-4">EL CIELO SOBRE EL PUERTO tenía el color de una pantalla
							<br>de televisor sintonizado en
							un canal muerto
						</p>
					</div>
				</div>
			</div>
			<!-- Fin Title + Image  -->

			<!-- Media -->
			<div class="ly-investigacion--3">
				<div class="d-flex h-100v flex-column">
					<div class="flex-grow-1">
						<div class="investigacion-text__wrap p-4 ml-8 my-5">
							<p class="color-white text-xl line-2xl">La transparencia y la interpretabilidad son temas
								que van a marcar la agenda del desarrollo tecnológico en los próximos
								años. Investigamos cómo hacer entendibles las inteligencias artificiales y qué impacto
								tienen sus explicaciones en los
								tomadores de decisiones.
							</p>
						</div>
					</div>
					<div class="flex-grow-1">
						<div class="d-flex justify-content-end">
							<div class="investigacion-experimento__wrap bg-white">
								<div>
									<h4 class="mb-2 antetitle">Experimento</h4>
									<h3 class="title-3 color-blue-1 mb-3">Sebastian: el<br>
										asistente que controla al asistente</h3>
									<p class="color-blue-4">Para visibilizar la carencia de control que tenemos sobre
										los altavoces
										inteligentes, creamos a Sebastian, un
										interruptor on/off por voz para decidir, activamente, cuándo permitir o no la
										escucha.</p>
								</div>
							</div>
							<div class="d-flex align-items-center">
								<div class="investigacion-experimento__img">
									<img src="/assets/images/sebastian.jpg" alt="Imagen del asistente Sebastian">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Fin Media -->
		</div>

	</div>
	<!-- Fin Explicabilidad IA -->

	<!-- Toma de decisiones -->
	<div id="toma-decisones" class="section bg-blue-1 pl-7" data-scroll-section>
		<div class="d-flex h-100v pl-7">

			<!-- Paginador -->
			<div class="ly-investigacion--1">
				<div class="d-flex flex-row py-5 h-100 align-items-center">
					<div class="text-sm color-blue-4 my-4">
						<span>02</span>
					</div>
					<div class="ab ml-3"></div>
				</div>
			</div>
			<!-- Fin Paginador -->

			<!-- Title + Image  -->
			<div class="ly-investigacion--2">
				<div class="d-flex h-100v">
					<div class="d-flex flex-column align-items-center justify-content-center investigacion-title__position"
						data-scroll data-scroll-speed="1" data-scroll-direction="vertical">
						<h2 class="title-4 color-white">Toma de decisiones</h2>
					</div>
					<div
						class="d-flex flex-column align-items-center justify-content-center investigacion-img__position text-right">
						<img src="/assets/images/tele_colgada_v.jpg" alt="Imagen Gibsom">
						<p class="color-blue-7 text-sm pt-4">-No es que esté desahogándome -Case oyó decir a alguien
							<br>
							mientras a golpes de hombro se
							abría paso entre la multitud frente a la puerta del Chat-
						</p>
					</div>
				</div>
			</div>
			<!-- Fin Title + Image  -->

			<!-- Media -->
			<div class="ly-investigacion--3">
				<div class="d-flex h-100v flex-column">

					<div class="flex-grow-1">
						<div class="investigacion-text__wrap p-4 ml-8 my-5">
							<p class="color-white text-xl line-2xl">Exploramos cómo la tecnología nos (des)habilita para
								tomar decisiones a través de la recomendación, el perfilado, el scoring, la
								automatización y el diseño comportamental.
							</p>
						</div>
					</div>

					<div class="flex-grow-1 order-first">
						<div class="d-flex justify-content-end">
							<div class="investigacion-experimento__wrap bg-white">
								<div>
									<h4 class="mb-2 antetitle">Experimento</h4>
									<h3 class="title-3 color-blue-1 mb-3">El Patornalista
										<br>
										libertario
									</h3>
									<p class="color-blue-4">Conviértete en la persona que deberías ser, detectando
										cuándo tu conducta no es la adecuada y corrigiéndola de forma eficaz.</p>
								</div>
							</div>
							<div class="d-flex align-items-center">
								<div class="investigacion-experimento__img">
									<img src="/assets/images/pato.jpg" alt="Imagen del asistente Sebastian">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Fin Media -->
		</div>

	</div>
	<!-- Fin Toma de decisiones -->

	<!-- Belleza y arte -->
	<div id="bellezayarte" class="section bg-blue-1 pl-7" data-scroll-section>
		<div class="d-flex h-100v">

			<!-- Paginador -->
			<div class="ly-investigacion--1">
				<div class="d-flex flex-row py-5 h-100 align-items-center">
					<div class="text-sm color-blue-4 my-4">
						<span>03</span>
					</div>
					<div class="ab ml-3"></div>
				</div>
			</div>
			<!-- Fin Paginador -->

			<!-- Title + Image  -->
			<div class="ly-investigacion--2">
				<div class="d-flex h-100v">
					<div class="d-flex flex-column align-items-center justify-content-center investigacion-title__position"
						data-scroll data-scroll-speed="1" data-scroll-direction="vertical">
						<h2 class="title-4 color-white">Belleza y arte</h2>
					</div>
					<div
						class="d-flex flex-column align-items-center justify-content-center investigacion-img__position text-right">
						<img src="/assets/images/tele_morada.jpg" alt="Imagen Gibsom">
						<p class="color-blue-7 text-sm pt-4">Es como si mi cuerpo hubiese desarrollado toda esta
							deficiencia de drogas</p>
					</div>
				</div>
			</div>
			<!-- Fin Title + Image  -->

			<!-- Media -->
			<div class="ly-investigacion--3">
				<div class="d-flex h-100v flex-column">
					<div class="flex-grow-1">
						<div class="investigacion-text__wrap p-4 ml-8 my-5">
							<p class="color-white text-xl line-2xl">La intersección entre el diseño, el arte y la
								tecnología es uno de nuestros campos de investigación más experimentales y amplios,
								abarcando desde el arte generativo, hasta el diseño de nuevos modelos de interfaz o la
								exploración sobre las reacciones humanas en este contexto.
							</p>
						</div>
					</div>
					<div class="flex-grow-1">
						<div class="d-flex justify-content-end">
							<div class="investigacion-experimento__wrap bg-white">
								<div>
									<h4 class="mb-2 antetitle">Experimento</h4>
									<h3 class="title-3 color-blue-1 mb-3">WaterColor<br>
										Melody Machine</h3>
									<p class="color-blue-4">Proceso creativo donde una IA improvisa al piano mientras
										pinta sobre un lienzo. La WCMM ha formado parte además de una investigación
										empírica para medir cómo reaccionan las personas ante el arte artificial.</p>
								</div>
							</div>
							<div class="d-flex align-items-center">
								<div class="investigacion-experimento__img">
									<img src="/assets/images/wcmm.jpg" alt="Imagen del asistente Sebastian">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Fin Media -->
		</div>

	</div>
	<!-- Fin Belleza y arte -->

	<!-- Conducta IA -->
	<div id="conductaia" class="section bg-blue-1 pl-7" data-scroll-section>
		<div class="d-flex h-100v">

			<!-- Paginador -->
			<div class="ly-investigacion--1">
				<div class="d-flex flex-row py-5 h-100 align-items-center">
					<div class="text-sm color-blue-4 my-4">
						<span>04</span>
					</div>
					<div class="ab ml-3"></div>
				</div>
			</div>
			<!-- Fin Paginador -->

			<!-- Title + Image  -->
			<div class="ly-investigacion--2">
				<div class="d-flex h-100v">
					<div class="d-flex flex-column align-items-center justify-content-center investigacion-title__position"
						data-scroll data-scroll-speed="1" data-scroll-direction="vertical">
						<h2 class="title-4 color-white">Conducta IA</h2>
					</div>
					<div
						class="d-flex flex-column align-items-center justify-content-center investigacion-img__position text-right">
						<img src="/assets/images/tele_cielo_v.jpg" alt="Imagen Gibsom">
						<p class="color-blue-7 text-sm pt-4">-Era una voz del Ensanche y un chiste del Ensanche.</p>
					</div>
				</div>
			</div>
			<!-- Fin Title + Image  -->

			<!-- Media -->
			<div class="ly-investigacion--3">
				<div class="d-flex h-100v flex-column">
					<div class="flex-grow-1">
						<div class="investigacion-text__wrap p-4 ml-8 my-5">
							<p class="color-white text-xl line-2xl">Realizamos experimentos conductuales para comprender
								cómo funcionan realmente las inteligencias artificiales con modelos opacos / cajas
								negras y asegurarnos que sus recomendaciones y decisiones no sufren sesgo.
							</p>
						</div>
					</div>
					<div class="flex-grow-1">
						<div class="d-flex justify-content-end">
							<div class="investigacion-experimento__wrap bg-white">
								<div>
									<h4 class="mb-2 antetitle">Experimento</h4>
									<h3 class="title-3 color-blue-1 mb-3">Sesgos en la IA
										<br>
										de reconocimiento de imágenes
									</h3>
									<p class="color-blue-4">Si eres mujer, la tecnología no identificará un taladro en
										tu mano. O confundirá tu martillo con un secador. Pero no ocurrirá así si eres
										un hombre. Una prueba de sexismo en la IA..</p>
								</div>
							</div>
							<div class="d-flex align-items-center">
								<div class="investigacion-experimento__img">
									<img src="/assets/images/sesgos.png" alt="Imagen del asistente Sebastian">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Fin Media -->
		</div>

	</div>
	<!-- Conducta IA -->

	<!-- Futuros -->
	<div id="futuros" class="section bg-blue-1 pl-7" data-scroll-section>
		<div class="d-flex h-100v">

			<!-- Paginador -->
			<div class="ly-investigacion--1">
				<div class="d-flex flex-row py-5 h-100 align-items-center">
					<div class="text-sm color-blue-4 my-4">
						<span>05</span>
					</div>
					<div class="ab ml-3"></div>
				</div>
			</div>
			<!-- Fin Paginador -->

			<!-- Title + Image  -->
			<div class="ly-investigacion--2">
				<div class="d-flex h-100v">
					<div class="d-flex flex-column align-items-center justify-content-center investigacion-title__position"
						data-scroll data-scroll-speed="1" data-scroll-direction="vertical">
						<h2 class="title-4 color-white">Futuros</h2>
					</div>
					<div
						class="d-flex flex-column align-items-center justify-content-center investigacion-img__position text-right">
						<img src="/assets/images/tele_verde.jpg" alt="Imagen Gibsom">
						<p class="color-blue-7 text-sm pt-4">El Chatsubo era un bar para expatriados profesionales</p>
					</div>
				</div>
			</div>
			<!-- Fin Title + Image  -->

			<!-- Media -->
			<div class="ly-investigacion--3">
				<div class="d-flex h-100v flex-column">
					<div class="flex-grow-1">
						<div class="investigacion-text__wrap p-4 ml-8 my-5">
							<p class="color-white text-xl line-2xl">Con una mirada en el presente y otra en lo que está
								por llegar, ahondamos en el impacto futuro que la tecnología tendrá en nuestro modo de
								vida y cómo nuestros miedos, anhelos y preocupaciones de hoy impregnan la forma en que
								moldeamos el mañana.
							</p>
						</div>
					</div>
					<div class="flex-grow-1">
						<div class="d-flex justify-content-end">
							<div class="investigacion-experimento__wrap bg-white">
								<div>
									<h4 class="mb-2 antetitle">Experimento</h4>
									<h3 class="title-3 color-blue-1 mb-3">Sinsi</h3>
									<p class="color-blue-4">¿Buscas respuestas sobre el futuro? Si te atreves a conocer
										cómo será, puedo guiarte para ello. Eso sí. Te advierto que los humanos tendéis
										a reproducir aquellos futuros que imagináis.</p>
								</div>
							</div>
							<div class="d-flex align-items-center">
								<div class="investigacion-experimento__img">
									<img src="/assets/images/sinsi.jpg" alt="Imagen del asistente Sebastian">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Fin Media -->
		</div>

	</div>
	<!-- Futuros -->

	<!-- Fin animacion -->
	<div class="section bg-blue-1 px-6 pl-7" data-scroll-section>

		<div class="d-flex flex-md-row">
			<!-- Paginador -->
			<div class="ly-investigacion--1">
				<div class="d-flex flex-row py-5 h-100 align-items-center">
					<div class="text-sm color-blue-4 my-4">
						<span>fin</span>
					</div>
					<div class="ab ml-3"></div>
				</div>
			</div>
			<!-- Fin Paginador -->

			<div class="ly-animacion--1 d-flex justify-content-center">
				<div id="invest2" class="fluid"></div>
			</div>
		</div>

	</div>
	<!-- Fin animacion -->
</div>
{% endblock %}