// Bootstrap breakpoint
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1400px);

$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px, xxl: 1340px);

.text-center {
    text-align: center;
}

.home {
    span {
        display: inline-block;

        // position: relative;
        // width: 0;
   
    }
}

.lab {
    overflow: hidden;
    width: 0px;
    top: 14px;
    overflow-wrap: normal;
    white-space: nowrap;
}

.lab1 {
    overflow: hidden;
    width: 0px;
    top: 14px;
    overflow-wrap: normal;
    white-space: nowrap;
}

.lab2 {
    overflow: hidden;
    width: 0px;
    top: 14px;
    overflow-wrap: normal;
    white-space: nowrap;
}

.lab-center {
    // position: relative;
    width: auto;
}

.lab-absolute {
    // position: absolute;
    // margin: 0 auto;
}
