p {
    margin-bottom: 1rem;
    font-size: inherit;
}

ul.list-arrow {
    margin: 0;
    padding-left: 10px;

    li {
        position: relative;
        list-style-type: none;
        padding-left: 16px;
    }

    li:before {
        content: "";
        position: absolute;
        top: 0px;
        left: -16px;
        width: 24px;
        height: 24px;
        background-image: url("/assets/images/listarrow.svg");
    }
}
