$color-pink-1: rgba(235, 84, 130, 1);
$color-pink-2: rgba(176, 63, 98, 1);
$color-blue-1: rgba(34, 34, 60, 1);
$color-blue-2: rgba(62, 62, 84, 1);
$color-blue-3: rgba(89, 89, 109, 1);
$color-blue-4: rgba(117, 117, 133, 1);
$color-blue-5: rgba(145, 145, 158, 1);
$color-blue-6: rgba(172, 172, 182, 1);
$color-blue-7: rgba(200, 200, 206, 1);
$color-blue-8: rgba(227, 227, 231, 1);
$color-white: rgba(255, 255, 255, 1);

$size-sm: rem(12px);
$size-base: rem(16px);
$size-xl: rem(20px);
$size-2xl: rem(28px);
$size-3xl: rem(38px);
$size-4xl: rem(50px);
$size-5xl: rem(67px);
$size-6xl: rem(90px);

.title-4 {
    @extend .font-700;

    @extend .text-4xl;

    @extend .line-5xl;
}

.title-5 {
    @extend .font-700;

    @extend .text-5xl;

    @extend .line-5xl;
}

.title-6 {
    @extend .font-700;

    // @extend .text-6xl;

    @extend .line-5xl;

    @include responsive-font-size($size-6xl);
}

.title-3 {
    @extend .font-700;

    // @extend .text-3xl;

    @extend .line-4xl;

    @include responsive-font-size($size-3xl);
}

.title-2 {
    @extend .font-700;

    @extend .text-2xl;

    @extend .line-4xl;
}

.title-1 {
    @extend .font-700;

    @extend .text-xl;

    @extend .line-4xl;
}

.antetitle {
    @extend .text-sm;

    @extend .line-sm;

    text-transform: uppercase;
    color: $color-blue-4;
}

.subtitle {
    @extend .text-xl;

    @extend .line-2xl;
}

.title-outline {
    -webkit-text-stroke-width: 1px;
    -moz-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(117, 117, 133, 1);
    -moz-text-stroke-color: rgba(117, 117, 133, 1);
    font-family: $font-secondary;
    font-size: 72px;
    text-transform: uppercase;
    color: transparent;
    font-weight: 700;
}
