<div class="section bg-pink-1" data-scroll-section>
    <div class="d-flex h-100v">

        <div class="ly-curso-2 h-100v d-flex flex-column justify-content-center dev">

        </div>
        <div class="ly-curso-3 dev">

        </div>
        <div class="ly-curso-4 dev h-100v d-flex flex-column justify-content-center">

        </div>
    </div>
</div>