<div class="section bg-blue-1" data-scroll-section>
    <div class="d-flex h-100v ly-equipo equipo-bg">

        <div class="ly-equipo-1 d-flex align-items-center justify-content-center flex-column ">
            <div class="d-flex align-items-center justify-content-center flex-row text-wrap">
                <div class="px-3 flex-50">
                    <h3 class="title-4 color-white">
                        Si los encuentra,
                        quizá pueda contratarlos
                    </h3>
                </div>
                <div class="px-3 flex-50">
                    <p class="subtitle color-white">
                        Aunque la mayoría de los proyectos de intervención que se abordan desde el estudio son propios,
                        si tiene usted un
                        problema y se los encuentra, quizá pueda contratarlos:
                    </p>
                    <div class="pt-4 icon-mini mr-8">
                        <a href="" class="decoration-none mb-3 btn-primary d-flex justify-content-between">Contactar
                            <div class="pl-3">
                                {{ svgSprite('arrow') }}
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>