<div class="nav-init {{ class }} d-flex justify-content-between justify-content-sm-between flex-row flex-md-column"
	data-scroll-section>
	<div class="d-flex flex-column">
		<a href="/">
			<img src="/assets/images/logo.svg" alt="Logo parentesis">
		</a>
		<span class="py-4 d-inline-block">By</span>
		<img class="logo" src="/assets/images/{{ logo }}" alt="Logo Biko">
	</div>

	<nav class="color-white nav-rotate py-5">
		<a class="mx-3 decoration-none" href="#nuestro-proceso" data-scroll-to>Proceso</a>
		<a class="mx-3 decoration-none hover-pink-1" href="/seccion-lineas-investigacion/">Lineas de
			investigación</a>
		<a class="mx-3 decoration-none" href="#curso" data-scroll-to>Curso</a>
		<a class="mx-3 decoration-none" href="#el-estudio" data-scroll-to>El estudio</a>
		<a class="mx-3 color-white decoration-none hover-pink-1" href="#contactar" data-scroll-to>Contactar</a>
	</nav>
</div>