<div class="nav-init bg-blue-1 d-flex justify-content-between flex-column" data-scroll-section>
    <div>
        <a href="/">
            <img src="/assets/images/logo.svg" alt="Logo parentesis">
        </a>

    </div>

    <nav class="color-white d-flex nav-rotate py-5">
        <a class="mx-3 color-white decoration-none hover-pink-1" href="">Sobre el estudio</a>
        <a class="mx-3 color-white decoration-none hover-pink-1" href="/lineas-investigacion/">Lineas de
            investigación</a>
        <a class="mx-3 color-white decoration-none hover-pink-1" href="#curso">Curso</a>
    </nav>
</div>