<div class="section bg-blue-1 mr-5" data-scroll-section>
    <div class="d-flex h-100v">
        <!-- Paginador + title  -->
        <div class="ly-proceso--1">
            <div class="d-flex flex-row py-5 h-100 align-items-center">
                <div class="ab ml-3"></div>
            </div>
        </div>
        <div class="titlewrap d-flex flex-column justify-content-center">
            <div class="titlewrap-rotate">
                <h2 data-scroll="" data-scroll-direction="horizontal" data-scroll-speed="2"
                    class="title-6 color-white p-5 mt-7">
                    Nuestro proceso</h2>
            </div>
        </div>
        <!-- Fin Paginador -->
        <div class="ly-proceso--2 h-100v d-flex flex-column justify-content-center ">
            <div class="item-proceso__container">
                <div>
                    <div class="item-proceso__wrap color-white pb-4 mt-4">
                        <h3 class="title-3">Investigación</h3>
                        <p class="">Exploracion del marco teorico</p>
                    </div>
                    <div class="item-proceso__wrap color-white pb-4 mt-4">
                        <h3 class="title-3 ">Mirada crítica</h3>
                        <p class="">Reflexión sobre la tecnología desde la tecnología</p>
                    </div>
                    <div class="item-proceso__wrap color-white pb-4 mt-4">
                        <h3 class="title-3 ">Prospección futura</h3>
                        <p class="">Valoración del impacto presente y futuro en las personas y la sociedad</p>
                    </div>
                    <div class="item-proceso__wrap color-white pb-4 mt-4">
                        <h3 class="title-3 ">Intervención</h3>
                        <p class="">Prototipado, experimentación y estética</p>
                    </div>
                    <div class="item-proceso__wrap color-white pb-4 mt-4">
                        <h3 class="title-3 ">Difusión</h3>
                        <p class="">Exposición del aprendizaje alcanzado</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>